@import './variables';

#products-container {
    overflow-y: auto;
    flex:  1 1 auto;
    min-height: 0px;
  }
  
.products-list {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    padding: 30px;
}

