.product-image {
    position: relative;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.product-image img {
    width: 100%;
    image-orientation: from-image;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.no-image {
    background-color: #F0F0F0;
}

.product-image button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px;
}