.product-card {
    border: 1px #ddd solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.product-card img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.card-content {
    padding: 10px 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-legend {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    flex: 1 1 auto;
}

.card-legend span {
    color: #542C85;
}

.category {
    background-color: #f0e5ff;
    padding: 0 8px;
    border-radius: 5px;
    font-size: 1rem;

}

.card-legend .card-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.card-details {
    text-align: left;
    font-size: 1.2rem;
}

.card-details p {
    margin: 0;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.availability {
    color: orange;
}


.label {
    text-align: left;
}